body {
    /* background-color: #212121; */
    background-color: #FFFFFF;
    /* background-color: pink; */
    /* color: #5469D4; */
}

#loginPageBtn {
    background-color: #5469D4 !important;
    border: 0 !important;
}

#transferFiles {
    background-color: transparent;
    border-width: 0px;
    transition: all .2s ease-in-out;
}

#transferFiles:hover {
    color: #5469D4 ;
    transform: scale(1.1);
}

.navbar {
    background-color: #F7FAFC !important;
    border-bottom: 1px solid rgb(227, 232, 238) !important;
    /* border-bottom: 1px solid #A3ACB9 !important; */
}

.navbar-brand {
    color: #5469D4 !important;
}

input[type=text] {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #A3ACB9;
    padding: 4px;
}

#logBtn {
    background-color: #FFFFFF;
    border-color: #A3ACB9;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    color: #3C4257;
    line-height: 10px;
}

/* .active {
    background-color: red;
} */