body {
    /* background-color: #212121; */
    background-color: #FFFFFF;
    /* color: #5469D4; */
}

#transferFiles {
    background-color: transparent;
    border-width: 0px;
    transition: all .2s ease-in-out;
}

#transferFiles:hover {
    color: #31adbe ;
    transform: scale(1.1);
}

.navbar {
    background-color: #F7FAFC !important;
    border-bottom: 1px solid rgb(227, 232, 238) !important;
    /* border-bottom: 1px solid #A3ACB9 !important; */
}

.navbar-brand {
    /* color: #5469D4 !important; */
    color: #32548f !important;
}

input[type=text] {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #00050c;
    padding: 4px;
}

#logBtn {
    background-color: #FFFFFF;
    /* border-color: #A3ACB9; */
    border-color: #010914;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    color: #3C4257;
    line-height: 10px;
}

/* .active {
    background-color: red;
} */

/* --- Landing Page --- */
.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
