{% block content %}

<div class="container">
    <div class="row">
        <h1 class="text-center mt-2">Falcon File Transfer</h1>
    </div>

    <!-- Start Transfer Button -->
    <!-- <div class="row">
        <div class="container d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-info" id="transferFiles" form="transferFilesForm">Start Transfer</button>
        </div>
    </div> -->
    
    <div class="row">
        <div class="container d-flex align-items-center col-md-1 order-md-2 p-0 m-0" style="height: 60vh" id="centerCol">
            <div class="container d-flex flex-column justify-content-center my-3 p-0 m-0">
                <p style="text-align: center;">Start Transfer</p>
                <button type="submit" class="btn btn-info p-0" id="transferFiles" form="transferFilesForm"><span style="color: white; font-size: xx-large;">&#10233;</span></button>
            </div>
        </div>

        <!-- Source -->
        <div class="container col-md-5 order-md-1" id="sourceContent">
            <div class="container" id="srcSearch">
                <form action="#" method="post" id="srcForm">
                    <div class="d-flex flex-column">
                        <h3 class="text-center">Site 1</h3>
                        <input class="flex-grow-1 mb-3" type="text" name="srcIP" id="srcIPInput"
                            placeholder="IP Address" />
                        <input class="flex-grow-1 mb-3" type="text" name="srcPath" id="srcPathInput" placeholder="Path" />
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <input type="submit" value="List Files" id="srcSubmit" />
                    </div>
                </form>
            </div>
            <div class="container" id="srcFileDisplay" style="display: none;">
                <div class="overflow-auto" style="max-height: 450px;">
                    <table class="table table-hover table-dark">
                        <thead style="position: sticky;top: 0">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last Modified</th>
                                <th scope="col">Size</th>
                            </tr>
                        </thead>
                        <form action="#" method="post" id="transferFilesForm">
                            <tbody id="srcTable">
                            </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>

        <!-- Center Column / Start Transfer Button -->
        <!-- <div class="container d-flex align-items-center col-md-2" style="height: 60vh" id="centerCol">
            <div class="container d-flex justify-content-center my-3">
                <button type="submit" class="btn btn-info" id="transferFiles" form="transferFilesForm">Start Transfer</button>
            </div>
        </div> -->

        <!-- Destination -->
        <div class="container col-md-5 order-md-3" id="destContent">
            <div class="container" id="destSearch">
                <form action="#" method="post" id="destForm">
                    <div class="d-flex flex-column">
                        <h3 class="text-center">Site 2</h3>
                        <input class="flex-grow-1 mb-3" type="text" name="destIP" id="destIPInput"
                            placeholder="IP Address" />
                        <input class="flex-grow-1 mb-3" type="text" name="destPath" id="destPathInput" placeholder="Path" />
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <input type="submit" value="List Files" id="destSubmit" />
                    </div>
                </form>
            </div>
            <div class="container" id="destFileDisplay" style="display: none;">
                <div class="overflow-auto" style="max-height: 450px;">
                    <table class="table table-hover table-dark">
                        <thead style="position: sticky;top: 0">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last Modified</th>
                                <th scope="col">Size</th>
                            </tr>
                        </thead>
                        <tbody id="destTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}