{% extends 'base.html' %}


{% block title %}
    {% if session %}
      {% if page == "Dashboard" %}
        Falcon - Dashboard
      {% elif page == "UserInfo" %}
        Falcon - User Info
      {% endif %}
    {% else %}
        Login to Falcon
    {% endif %}
{% endblock %}


{% block content %}

  {% if session %}
    {% if page == "Dashboard" %}
      {% include 'dashboard.html' %}
    {% elif page == "UserInfo" %}
      {% include 'userInfo.html' %}
    {% endif %}
  {% else %}
    {% include 'login.html' %}
  {% endif %}

{% endblock %}