<nav class="navbar navbar-expand-md px-3 py-1">
    <div class="container-fluid">
        <div class="d-flex flex-nowrap align-items-center">
            <img
                src="{{ url_for('static', filename='icons/icons8-falcon-32.png') }}"
                alt="Website Icon"
                width="30"
                height="30"
            />
            <a class="navbar-brand mx-2" href="{{ url_for('dashboard') }}">FALCON</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active"> -->
                    {% if session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('history') }}">History</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div>
            <ul class="navbar-nav mr-auto align-items-center">
                {% if session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logBtn" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="logBtn" href="{{ url_for('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>